TABLE {
    border:1px solid #555759;
    padding:0;
    margin:0;
    border-collapse: collapse;
    transform: rotateX(40deg) rotateY(0deg) rotateZ(-45deg);
}
    BODY {
        background: #333537;
        color: #878990;
        font-family: monospace;
    } 

TD {
    height:50px;
    width:50px;
    border:1px solid #555759;
    font-size : 12px;
    text-align: center
}


.preview {
    background:#222426;
}

.default  {
    background:#ef974d;
}

.default.preview {
    background: #222426
}

.trap {
    background:#a3e1bc;
}

.trap.forbidden {
    border:red solid 1px;
}
.void  {
    background:#333537;
    border:#333537;
}
.water  {
    background:#8acda2;
}

.water.path {
    background: #c6bb53;
    border: #605a23 1px solid;
}
.path  {
    background:#8acda2;
}
.door  {
    background:#8acda2;
}
.trigger  {
    background:#8acd2a;
}
.link  {
    background:#8acda2;
}
.start  {
    background:yellowgreen
}
.end {
    background:pink
}
.forbidden  {
    background:pink
}

